=form_for @ceremony do |f|
  -if @ceremony.errors.any?
    %h5
      =pluralize(@ceremony.errors.count, "error") +' '+ 'prohibited this ceremony from being saved:'
    %div.alert.alert-danger
      - @ceremony.errors.full_messages.each do |msg|
        = msg
  .clearfix

  .dashboard_cont
    .form-group
      =f.label :program, 'Program', class:"col-sm-3"
      =f.label :date, 'Date', class:"col-sm-3"
      =f.label :time, 'Time', class:"col-sm-2"
      =f.label :venue, 'Venue', class:"col-sm-2"
      =f.label :public, 'Make Public', class:"col-sm-2"
      .clearfix
    #ceremony_fields
      #one_ceremony_field
        .form-group
          .col-sm-3
            =f.text_field :program, :name=>"ceremonies[][program]", class:"form-control", :required=>true
          .col-sm-2
            =f.text_field :date, :name=>"ceremonies[][date]", class:"form-control datepicker", value: (@ceremony.date.present? ? @ceremony.date.strftime("%m/%d/%Y") : nil)
          .col-sm-3
            .input-group.bootstrap-timepicker
              =f.text_field :time, :name=>"ceremonies[][time]", class:"form-control ceremonytimepicker", value: (@ceremony.time.present? ? @ceremony.time.strftime("%I:%M %p") : nil), :required=>true
              %span.input-group-addon
                %i.glyphicon.glyphicon-time
          .col-sm-2
            =f.text_field :venue, :name=>"ceremonies[][venue]", class:"form-control", :required=>true
          .col-sm-2
            -if @ceremony.present? && @ceremony.public.present?
              =check_box_tag "ceremonies[][public]", @ceremony.public, @ceremony.public, class:"form-control"
            -else
              =check_box_tag "ceremonies[][public]", true, false, class:"form-control"
        .form-group
          .col-sm-5
            ='I prefer to receive reminder for the above event prior to:'
          %label.col-sm-1
            .row
              -if @ceremony.present? && @ceremony.is_reminder_on_one_day_prior.present?
                =check_box_tag "ceremonies[][is_reminder_on_one_day_prior]", @ceremony.is_reminder_on_one_day_prior, @ceremony.is_reminder_on_one_day_prior
              -else
                =check_box_tag "ceremonies[][is_reminder_on_one_day_prior]", true, false
              ='1 day'

          %label.col-sm-1
            .row
              -if @ceremony.present? && @ceremony.is_reminder_on_three_day_prior.present?
                =check_box_tag "ceremonies[][is_reminder_on_three_day_prior]", @ceremony.is_reminder_on_three_day_prior, @ceremony.is_reminder_on_three_day_prior
              -else
                =check_box_tag "ceremonies[][is_reminder_on_three_day_prior]", true, false
              ='3 day'

          %label.col-sm-1
            .row
              -if @ceremony.present? && @ceremony.is_reminder_on_seven_day_prior.present?
                =check_box_tag "ceremonies[][is_reminder_on_seven_day_prior]", @ceremony.is_reminder_on_seven_day_prior, @ceremony.is_reminder_on_seven_day_prior
              -else
                =check_box_tag "ceremonies[][is_reminder_on_seven_day_prior]",true, false
              ='7 day'
          .clearfix

    .form-group
      .text-right.col-sm-12
        -if @ceremony.new_record?
          =link_to 'Add More Ceremony', 'javascript:void(0);', :id=>'addMoreCeremonyLink',class:"btn btn-primary"
        =f.submit 'Save',:class=>"btn btn-primary"
    .clearfix

-#:javascript
-#  function process(date){
-#    var parts = date.split("/");
-#    return new Date(parts[2], parts[1] - 1, parts[0]);
-#    }
-#
-#    var today = new Date();
-#
-#  $(".new_ceremony").submit(function(){
-#    if(today < process($("#ceremonies_date").val())){
-#    alert("Date Cannot be Greater than today's Date");
-#    return false;
-#    }
-#  });