.head_dashboard
  .row
    .col-sm-6
      %h3 Create Keywords
    .col-sm-6.text-right
      =link_to 'Listing your keywords', user_keywords_path, :class=>"btn btn-primary"
  .clearfix
.dashboard_cont
  =render 'form'