=raw "Hi, #{@user.full_name}"
%br
%br
="This is your friendly reminder that you have not logged in to Directory Service from last 5 days. So, Please visit the site and have a look."
%br
%br
='Dhoomdhamaka Team'