=raw "#{@user.first_name}"
%br
%br
="This is your friendly reminder that your #{@event.program} event is on #{@event.date.strftime("%b %d %Y")}. So, Please be prepare for the function."
%br
%br
='Dhoomdhamaka Team'