Dear,
=raw "#{@contact.full_name}"
%br
%br
=raw "You have been invited to visit our directory services at"
=link_to 'Directory Services', "http://search.dhoomdhamaka.com?ref=#{@user.full_name}"
%br
%br
='Dhoomdhamaka Team'