.head_dashboard
  .row
    .col-sm-6
      %h3 Invite your friends
  .clearfix
.dashboard_cont
  .col-sm-12
    #invitation_message
  .clearfix.margin_bottom10px
  - if @google_friends.any?
    .col-sm-1
      %input#check_all_invitation.check_all_invitation{:name => "check_all_invitation", :type => "checkbox"}
    .col-sm-2
      %a{:href => "javascript:void(0);", :class=>"btn btn-primary margin-top7 align_right",  :id=> 'mail_to_selected', :onclick=>"sendEmailToSelected();"} Invite Selected
    .col-sm-4
      %h4 Name
    .col-sm-4
      %h4 Email
    .clearfix
    .clearfix.margin_bottom5px

    - @google_friends.each do |contact|
      .col-sm-1.check_invitation
        %input{:name => "check_invitation", :type => "checkbox", :value=>"#{contact.id}"}
      .col-sm-2
        =''
      .col-sm-4
        = contact.full_name.present? ? contact.full_name : "-----"
      .col-sm-4
        = contact.email
      .clearfix.margin_bottom5px
  .clearfix
:javascript
   function sendEmailToSelected(){
      var get_checked_values = []
      $('.check_invitation input[type=checkbox]').each(function() {
        if($(this).is(':checked')){
          get_checked_values.push($(this).val());
        };
      });

      if (get_checked_values.length==0){
        alert("Please select any contact(s) to send invitation!");
      }else{
        p = get_checked_values.toString();

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: false,
            processData: false,
            cache: false,
            url: '/import_contacts/send_email_to_contacts?ids='+p,
            complete: function(data){
              $('#invitation_message').html(data.responseText);
              $('#invitation_message').addClass("alert alert-success");
              $('.check_invitation input[type=checkbox]').each(function() {
                this.checked = false;
              });
            }
        });
      }
    };

  $(document).ready(function() {
    $('.check_all_invitation').click(function(event) {
      if(this.checked) {
        $('.check_invitation input[type=checkbox]').each(function() {
          this.checked = true;
        });
      }else{
        $('.check_invitation input[type=checkbox]').each(function() {
          this.checked = false;
        });
      }
    });
  });