<% if current_user.present?%>
<%unless current_user.is_verified==true%>
    <div class="verification col-sm-6 pull-right">
      <div class="mobile">
        <h4>Please Verify Your Mobile Number</h4>
        <% if current_user.mobile.present? %>
            <h4><%=current_user.mobile%></h4>
            <input id="mobile_number" type="hidden" value="<%=current_user.mobile%>" placeholder="Enter mobile number"/>
        <% else %>
            <input id="mobile_number" type="text" value="" placeholder="Enter mobile number"/>
        <% end %>
        <input id="verify" type="button" value="Verify Mobile" class="btn btn-primary"/>
      </div>

      <div class="otp"  style="display:none;">
        <h4>Enter One Time Password (OTP)</h4>
        <h6>One time password has been sent to your mobile,
          please enter the same here.</h6>
        <input id="input_code" placeholder="OTP"/>
        <button href="#" type="button" id="code"  class="btn btn-primary">Confirm</button>
      </div>
    </div>

    <script type="text/javascript">
        $("#verify").on('click', function () {
            var get_mobile_number = $("#mobile_number").val();
            $.ajax({
                type: "GET",
                url: "/sms_verify",
                data: {number: get_mobile_number}
            })
                    .done(function (msg) {

                        if (msg) {
                            $(".mobile").hide();
                            $(".otp").css('display', "block");

                        }

                    });
        });

        $("#code").click(function () {
            a = $("#input_code").val();
            $.ajax({
                type: "GET",
                url: "/check_code",
                data: {number: a}
            })
                    .done(function (msg) {

                        if (msg == "true") {

                            alert("Successfully Verified Your Mobile Number.");
                            $(".verification").remove();
                            window.location.href="/";
                        }
                        else {
                            alert("Wrong Code Entered.");
                        }

                    });
        });

    </script>
<%else%>
    <h4><%= flash[:notice] = 'Mobile number already activated.' %></h4>
<%end%>
<%end%>