
  <div class="verification">
    <div class="mobile">
    <h4>Please Verify Your Mobile Number</h4>
    <input id="mobile_number" type="text" value="" placeholder="Enter mobile number"/>
    <input id="verify" type="button" value="Verify Mobile" />
    </div>
    <div class="otp"  style="display:none;">
      <%= "#{session[:mobile_number]}" %>
      <h4>Enter One Time Password (OTP)</h4>
      <h6>One time password has been sent to your mobile,
      please enter the same here.</h6>
      <input id="input_code" placeholder="OTP"/>
      <button href="#" type="button" id="code" >Confirm</button>
    </div>
  </div>

  <script type="text/javascript">
    $("#verify").on('click', function () {
      $.ajax({
        type: "GET",
        url: "/categories/sms_verify",
        data: {mobile_number: $("#mobile_number").val()}
      })
        .done(function (msg) {

          if (msg) {
              $(".mobile").hide();
            $(".otp").css('display', "block");
          }

        });
    });

    $("#code").click(function () {
      otp = $("#input_code").val();
      $.ajax({
        type: "GET",
        url: "/categories/check_code",
        data: {otp_code: otp}
      })
        .done(function (msg) {
          if (msg == "true") {
            alert("Successfully Verified Your Mobile Number.");
            $(".verification").remove();
              window.location.href=window.location.href;
          }
          else {
            alert("Wrong Code Entered.");
          }

        });
    });

  </script>