<div aria-labelledby='exampleModalLabel' class='modal fade' id='modal-window' role='dialog' style='display: none;' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <!--<button aria-label='Close' class='close' data-dismiss='modal' type='button'>-->
          <!--<span aria-hidden='true'>×</span>-->
        <!--</button>-->
        <h4 class='modal-title'>Please Verify Your Mobile Number</h4>
      </div>

      <div class="modal-body">
        <div class="verification">
          <div class="mobile">
            <% if current_user.present? && current_user.mobile.present? %>
                <h4><%=current_user.mobile%></h4>
                <input id="mobile_number" type="hidden" value="<%=current_user.mobile%>" placeholder="Enter mobile number"/>
            <% else %>
                <% if session[:mobile_number].present? %>
                    <h4><%= "#{session[:mobile_number]}" %></h4>
                <% else %>
                    <input id="mobile_number" type="text" value="" placeholder="Enter mobile number"/>
                <% end  %>
            <% end %>
            <input id="verify" type="button" value="Verify Mobile" class="btn btn-primary"/>
          </div>
          <div class="otp"  style="display:none;">
            <h4>Enter One Time Password (OTP)</h4>
            <h6>One time password has been sent to your mobile,
              please enter the same here.</h6>
            <input id="input_code" placeholder="OTP"/>
            <button href="#" type="button" id="code" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>

      <div class='modal-footer'></div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    $("#verify").on('click', function () {
      $.ajax({
        type: "GET",
        url: "/categories/sms_verify",
        data: {mobile_number: $("#mobile_number").val()}
      })
        .done(function (msg) {

          if (msg) {
              $(".mobile").hide();
            $(".otp").css('display', "block");
          }

        });
    });

    $("#code").click(function () {
      otp = $("#input_code").val();
      $.ajax({
        type: "GET",
        url: "/categories/check_code",
        data: {otp_code: otp}
      })
        .done(function (msg) {
          if (msg == "true") {
            alert("Successfully Verified Your Mobile Number.");
            $("#modal-window").remove();
              window.location.href=window.location.href;
          }
          else {
            alert("Wrong Code Entered.");
          }

        });
    });

  </script>