-if @categories.present?
  %h4 Business Info
  .table-responsive
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %th Business Name
          %th About us
          %th Service
          %th Service Area
          %th Action
      %tbody
        -@categories.each do |category|
          %tr
            %td
              =link_to category.name, category_path(category)
            %td
              =category.description
            %td
              =category.category_type
            %td
              =Location.find(category.service_area).name
            %td
              =link_to '<span style= "aria-hidden=true", class="glyphicon glyphicon-edit"></span>'.html_safe, edit_category_path(category)
              =link_to category, data:{:confirm=>'Are you sure to delete this ?'}, :method=>:delete do
                %span{style: "aria-hidden=true", class:"glyphicon glyphicon-trash"}
            .clearfix