%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"}
-if current_user.present?
  =render 'vendor_info'
-else
  .container
    =render 'vendor_info'

-#-if @category.present?
-#  .table-responsive
-#    %table.table.table-bordered.table-striped.table-hover
-#      %thead
-#        %tr
-#          %th Business Name
-#          %th About us
-#          %th Service
-#          %th Service Area
-#      %tbody
-#        %tr
-#          %td
-#            =@category.name
-#          %td
-#            =@category.description
-#          %td
-#            =@category.category_type
-#          %td
-#            =Location.find(@category.service_area).name
-#  = "MAP NOT ASSIGNED".html_safe if @category.latitude.blank?
-#  Location:
-#  #googleMap{:style => "width:50%;height:250px; margin:0 auto;"}

:javascript
    var myCenter=new google.maps.LatLng(#{@latitude},#{@longitude});
    var marker;

    function initialize()
    {
        var mapProp = {
            center:myCenter,
            zoom:16,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

        marker=new google.maps.Marker({
            position:myCenter,
            animation:google.maps.Animation.BOUNCE,
            icon: "/assets/custom_marker.png",
        });

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);