.head_dashboard
  .row
    .col-sm-6
      %h3 See wishlists
    .col-sm-6.text-right
      -if current_user.customer?
        =link_to 'Create Wishlist', new_wishlist_path, :class=>"btn btn-primary"
  .clearfix.margin_bottom10px
.dashboard_cont
  -if @wishlists.present? && @wishlists.flatten.present?
    -@wishlists.flatten.each do |wishlist|
      .table-responsive
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th Name
            %th Mobile
            %th City
            %th Category
            %th Program date
            %th Wish list
        %tbody
          %tr
            %td
              =wishlist.name
            %td
              =wishlist.mobile_number
            %td
              =wishlist.city.present? ? wishlist.city.split(", ").join(', ') : ''
            %td
              =wishlist.category
            %td
              =wishlist.program_date.strftime("%m/%d/%Y")
            %td
              =wishlist.wish_list
      .clearfix
  -else
    .col-sm-12
      %h4='Currently, there is no wishlist present.'