%footer
  .container
    .footer
      .row
        .col-md-3.col-sm-4.col-xs-6.margin_10px_0_30px
          %ul.list-unstyled
            %li Wedding
            %li
              %a{:href => ""} Vendor
            %li
              %a{:href => ""} Venue
            %li
              %a{:href => ""} Reception
            %li
              %a{:href => ""} Decoration
          .clearfix
        .col-md-3.col-sm-4.col-xs-6.margin_10px_0_30px
          %ul.list-unstyled
            %li Hire
            %li
              %a{:href => ""} Cameraman
            %li
              %a{:href => ""} Cater
            %li
              %a{:href => ""} Jewellery
            %li
              %a{:href => ""} Transport
          .clearfix
        .clearfix.visible-xs
        .col-md-3.col-sm-4.col-xs-6.margin_10px_0_30px
          %ul.list-unstyled
            %li Request For
            %li
              %a{:href => ""} Sweets
            %li
              %a{:href => ""} DJ
            %li
              %a{:href => ""} Spa
            %li
              %a{:href => ""} Wedding Gifts
          .clearfix
        .col-md-3.col-sm-4.col-xs-6.margin_10px_0_30px
          %ul.list-unstyled
            %li Meet us Also on
            %li
              %a{:href => ""} Facebook
            %li
              %a{:href => ""} Twitter
            %li
              %a{:href => ""} Google+
            %li
              %a{:href => ""} Blog
          .clearfix
  .bottom
    .container-fluid
      .col-xs-12.text-center © 2012-15 Wedding Planner Pvt. Ltd.