%footer
  .container
    .footer
      .row
        .col-md-3.col-sm-4.col-xs-6.margin_10px_0_30px
          %ul.list-unstyled
            %li Directory Service
            %li
              =link_to "Disclaimer", '/disclaimer',:target=>"_blank"
            %li
              =link_to "Contact", '/contact_us',:target=>"_blank"
            %li
              =link_to "Privacy Policy", '/privacy_policy',:target=>"_blank"
          .clearfix
        .col-md-3.col-sm-4.col-xs-6.margin_10px_0_30px
          %ul.list-unstyled
            %li Hire
            %li
              =link_to 'Login', '/users/sign_in'
            %li
              =link_to 'Join us', '/users/sign_up'
          .clearfix
        .clearfix.visible-xs
        .col-md-3.col-sm-4.col-xs-6.margin_10px_0_30px
          %ul.list-unstyled
            %li Request For
            %li
              =link_to 'Login', '/users/sign_in'
          .clearfix
        .col-md-3.col-sm-4.col-xs-6.margin_10px_0_30px
          %ul.list-unstyled
            %li Meet us Also on
            %li
              =link_to 'Facebook', "http://www.facebook.com"
          .clearfix
  .bottom
    .container-fluid
      .col-xs-12.text-center © Copyrights 2015 Idify Solutions. All rights reserved